@import url('https://fonts.googleapis.com/css2? family= Young+Serif & display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    max-width: 100vw;
    max-height: 100vh;
}
/****************navbar***************/
.header{
    width: 100%;
}
.menu{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(194, 194, 232);
    border: solid 1px black;
}

.menu--logo{
    background-color: black;
    opacity: 0.5;
    width: 6vw;
    height: 14vh;
    justify-self: flex-start;
    align-self: flex-start;
}

.menu--list{
    width: 7vw;
}
.menu--list:hover{
    padding: 2%;
    background-color: rgb(89, 115, 243);
}

.srch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-top: 5%;
    background-color: rgb(179, 174, 174);
    border: solid 1px black;
}

.srch--field{
    border: solid black 1px;
    width: 10vw;
    height: 5vh;
}
.srch--field:placeholder-shown{
    font-size: 1.5vw;
}
.srch--button{
    width: 10vw;
    height: 5vh;
    background-color: rgba(168, 101, 230, 0.767);
    border: solid 1px black;
    font-size: 1.5vw;
}

/***************head-section*****************/
.main1{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20vh auto;
    grid-template-areas:
    "main--start-image main--start-image main--start-image main--start-image main--start-image main--start-image"
    "main--start-image main--start-image main--start-image main--start-image main--start-image main--start-image"
    "main--start-image main--start-image main--start-image main--start-image main--start-image main--start-image"
    "main--start-image main--start-image main--start-image main--start-image main--start-image main--start-image"
    ". . . . . . "
    ". . service__h3 service__h3 . ."
    "service service service service service service"
    "service service service service service service"
    ". . . . . ."
    ". . rooms__h3 rooms__h3 . ."
    "rooms rooms rooms rooms rooms rooms"
    "rooms rooms rooms rooms rooms rooms"
    "ul ul ul ul ul ul"
    "ul ul ul ul ul ul"
    ;
}


/************start-section**************/
.main1--start-image{
    background-image: url(./img/08-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    margin: 2%;
    grid-area: start__center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main--start-image;
}
.main1--logo{
    background-color: black;
    opacity: 0.8;
    color: antiquewhite;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/***************service**************/
.service__h3{
    grid-area: h3__service;
    margin-top: 15%;
    grid-area: service__h3;
    display: flex;
    justify-content: center;
}

.service{
    grid-area: block__service;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: service;
}
.evening{
    background-image: url(./img/08-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evening__h4{
    font-size: 2vw;
    margin-bottom: 3%;
    color: antiquewhite;
}
.evening__p{
    font-size: 1vw;
    color: antiquewhite;
}
.evening:hover{
    background: black;
}

.Adventure{
    background-image: url(./img/äventyr.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adventure__h4{
    font-size: 2vw;
    margin-bottom: 3%;
    color: antiquewhite;
}
.adventure__p{
    font-size: 1vw;
    color: antiquewhite;
}
.Adventure:hover{
    background: black;
}

.Travel{
    background-image: url(./img/resa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.travel__h4{
    font-size: 2vw;
    margin-bottom: 3%;
    color: antiquewhite;
}
.travel__p{
    font-size: 1vw;
    color: antiquewhite;
}
.Travel:hover{
    background: black;
}
.Party{
    background-image: url(./img/party.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.party__h4{
    font-size: 2vw;
    margin-bottom: 3%;
    color: antiquewhite;
}
.party__p{
    font-size: 1vw;
    color: antiquewhite;
}
.Party:hover{
    background: black;
}
/**************rooms**************/
.rooms__h3{
    grid-area: h3__rooms;
    margin-top: 15%;
    grid-area: rooms__h3;
    display: flex;
    justify-content: center;
}
.rooms__h4{
    background-color: rgb(163, 153, 153);
    padding: 2%;
}

.rooms{
    grid-area: block__rooms;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    grid-area: rooms;
}

.rooms button:nth-child(1){
    width: 30%;
    background-image: url(./img/rum1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rooms button:nth-child(2){
    width: 30%;
    background-image: url(./img/rum2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rooms button:nth-child(3){
    width: 30%;
    background-image: url(./img/rum3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ul{
    grid-area: ul;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(194, 194, 232);
    border: solid 1px black;
}

/********************sida2***********************/
.main2{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20vh auto;
    grid-template-areas:
    "main__img main__img main__img main__img main__img main__img"
    "main__img main__img main__img main__img main__img main__img"
    "main__img main__img main__img main__img main__img main__img"
    ". . . . . . "
    "om om om om om om"
    "om om om om om om"
    "om om om om om om"
    "main__gallery main__gallery main__gallery main__gallery main__gallery main__gallery"
    "main__gallery main__gallery main__gallery main__gallery main__gallery main__gallery"
    "main__gallery main__gallery main__gallery main__gallery main__gallery main__gallery"
    "ul2 ul2 ul2 ul2 ul2 ul2"
    ;
}
.main2__img{
    width: 100%;
    height: 60vh;
    margin: 2%;
    background-image: url(./img/09-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main__img;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2--logo{
    background-color: black;
    opacity: 0.8;
    color: antiquewhite;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2__gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 40%;
    grid-area: main__gallery;
}

.main2--img{
    width: 15vw;
    height: 15vh;
}

.om{
    grid-area: om;
    margin: 5%;
    width: 70%;
    background-color: rgb(194, 194, 232);
    padding: 2%;
    border: solid 1px black;
}

.ul2{
    grid-area: ul2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(194, 194, 232);
    border: solid 1px black;
    }

/********************sida3************************/

.main3{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20vh auto;
    grid-template-areas: 
    "main__image main__image main__image main__image main__image main__image"
    "main__image main__image main__image main__image main__image main__image"
    ". . . . . ."
    "main__view main__view main__view main__view main__view main__view"
    "main__view main__view main__view main__view main__view main__view"
    ". . . . . ."
    "main__details main__details main__details main__info main__info main__info"
    "main__details main__details main__details main__info main__info main__info"
    ". . . . . ."
    "ul3 ul3 ul3 ul3 ul3 ul3"
    ;
}

.main3__image{
    grid-area: main__image;
    background-image: url(./img/09-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3--logo{
    background-color: black;
    opacity: 0.8;
    color: antiquewhite;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main3__view{
    display: flex;
    flex-wrap: wrap;
    grid-area: main__view;
    margin: 5%;

}
.main3--image{
    width: 20vw;
    height: 20vh;
}
.main3--image:hover{
    width: 35vw;
    height: 35vh;
}
.main3__details{
    grid-area: main__details;
    margin: 5%;
}
.detail--p{
    font-size: 5vw;
}

.main3__info{
    grid-area: main__info;
    background-color: rgb(194, 194, 232);
    border: solid 1px black;
    width: 25vw;
    height: auto;
    list-style: none;
}

.ul3{
    grid-area: ul3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(194, 194, 232);
    border: solid 1px black;
    }
